@font-face {
    font-family: 'ChampagneAndLimousines';
    font-style: normal;
    font-weight: normal;
    src: url(../Assets/font/ChampagneAndLimousines.eot);
    src: url(../Assets/font/ChampagneAndLimousines.eot?#iefix) format('embedded-opentype'),
         url(../Assets/font/ChampagneAndLimousines.woff) format('woff')
}
body {
    font-size: 1vw;
}
.container {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}
h1 {
    margin: 0;
    font-family: 'ChampagneAndLimousines', sans-serif;
    font-size: 6.5em;
    font-weight: 400;
    text-align: center;
    color: #0f0f10;
}
p {
    font-family: arial, sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    text-align: center;
    color: #373739;
}
.deco {
    overflow: hidden;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1em;
    font-family: 'ChampagneAndLimousines', sans-serif;
    font-size: 12em;
    text-align: center;
}
.deco span {
    margin-left: -0.1em;
    color: #c0dad5;
}